:root {
    --body-font: arial, sans-serif;
    --font-color: black;
    --background-color: white;
    --body-font-size: 16px;
    --header-font-size: 24px;
}

body {
  /* margin: 0; */
  font-family: var(--body-font);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
